# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List Data Science Languages
* List Common Data Science Libraries
* List Open Source Data Science Environments
* Evaluate Simple Python Expressions
* Practice Markdown

## Author
Jeff Roth

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. Java
1. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. NumPy
1. Matplotlib
1. Scikit
1. PyTorch
1. ggplot2
1. Vegas

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| Apache Zeppelin |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [3]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

This will convert 200 minutes to hours by diving by 60